# Default ignored files
/shelf/
workspace.xml

# Gradle files
/.gradle/
/build/
*/build/

# Local configuration files
/local.properties

# Android Studio files
/.idea/
*.iml
*.hprof

# Gradle Wrapper files
gradlew
gradlew.bat

# Miscellaneous
*.log
*.tmp
*.temp
*.DS_Store
*.swp
